# deps
node_modules/

# Next.js
.next/
out/

# env
.env
.env.local
.env.*.local

# SQLite
prisma/dev.db
prisma/dev.db-journal

# uploads locais (produção usa Supabase Storage)
public/uploads/

# misc
.DS_Store
tsconfig.tsbuildinfo
